.cdri-input {
  border: none;
  border-bottom: 1px solid var(--gray);

  &:focus {
    border-color: var(--primary);
  }
}

.detail-search-container {
  display: flex;
  flex-direction: column;

  button {
    margin-top: 20px;
  }
  margin-bottom: 10px;
}
.input-container {
  display: flex;

  input {
    flex: 1;
    margin-left: 5px;
  }
}

.search-section-container {
  display: flex;
  align-items: center;
  .search-book-input-container {
    width: 480px;
    background-color: var(--light-gray);
    border-radius: 24px;

    &:has(.open) {
      border-radius: 24px 24px 0 0;
    }
  }

  > *:nth-child(n + 2) {
    margin-left: 10px;
  }

  button {
    height: var(--itemSizeHeigth);
  }
}

.search-input-content-container {
  background-color: var(--light-gray);
}

.typo {
  &-title1 {
    font-size: 24px;
    font-weight: 700;
  }
  &-title2 {
    font-size: 22px;
    font-weight: 700;
  }
  &-title3 {
    font-size: 18px;
    font-weight: 700;
  }
  &-body1 {
    font-size: 20px;
  }
  &-body2 {
    font-size: 14px;
  }
  &-body2-bold {
    font-size: 14px;
    font-weight: 700;
  }
  &-caption {
    font-size: 16px;
  }
  &-small {
    font-size: 10px;
  }
}
