.cdri-input {
  border: none;
  border-bottom: 1px solid var(--gray);

  &:focus {
    border-color: var(--primary);
  }
}

.detail-search-container {
  display: flex;
  flex-direction: column;

  button {
    margin-top: 20px;
  }
  margin-bottom: 10px;
}
.input-container {
  display: flex;

  input {
    flex: 1;
    margin-left: 5px;
  }
}
