#root {
  --header-height: 80px;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .logo-container {
    position: absolute;
    height: var(--header-height);
    display: flex;
    align-items: center;
    padding: 0 160px;
  }

  .tabs-list-container {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tabs-panel-container {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 980px;

    > .MuiTabPanel-root {
      width: inherit;
    }

    .tab-content-container {
      display: flex;
      flex-direction: column;
      height: 100%;

      .typo-title2 {
        margin-top: 50px;
      }

      > div {
        margin-top: 20px;
      }

      .empty-container {
        margin-top: 50px;
      }
    }
  }
}
