#root {
  --header-height: 80px;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .logo-container {
    position: absolute;
    height: var(--header-height);
    display: flex;
    align-items: center;
    padding: 0 160px;
  }

  .tabs-list-container {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tabs-panel-container {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 980px;
    min-height: 0;

    > .MuiTabPanel-root {
      width: inherit;
      padding: 24px 24px 0 24px;
    }

    .tab-content-container {
      display: flex;
      flex-direction: column;
      height: 100%;

      .typo-title2 {
        margin-top: 50px;
      }

      > div {
        margin-top: 20px;
      }

      .result-content {
        flex: 1;
        overflow: auto;
        min-height: 0;

        content-visibility: auto;
        contain-intrinsic-size: 0 100px;

        &:has(.empty-container) {
          flex: unset;
          overflow: unset;
        }
      }

      .empty-container {
        padding-top: 50px;
      }
    }
  }
}
