.main-container {
  --header-height: 80px;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .logo-container {
    position: absolute;
    height: var(--header-height);
    display: flex;
    align-items: center;
    padding: 0 160px;
  }

  .tabs-list-container {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tabs-panel-container {
    flex: 1;
    display: flex;
    justify-content: center;

    > div {
      width: 980px;
    }
  }
}
