.popover-container {
  padding: 10px;
  &.w360 {
    width: 360px;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    button {
      --size: 20px;
    }
  }

  .content-container {
    padding: 12px;
  }
}
