@use "common";
@use "popover";
@use "buttons";

:root {
  --primary: #4880ee;
  --primaryOpacity30: rgba(72, 128, 238, 0.3);
  --primaryOpacity50: rgba(72, 128, 238, 0.5);
  --red: #e84118;
  --gray: #dadada;
  --light-gray: #f2f4f6;
  --white: #ffffff;
  --black: #222222;

  --text-primary: #353c49;
  --text-secondary: #6d7582;
  --text-subtitle: #8d94a0;

  --itemSizeHeigth: 36px;
}

body {
  scroll-behavior: smooth;

  ::-webkit-scrollbar {
    width: 8rem;
    height: 8rem;
  }

  ::-webkit-scrollbar-track {
    background-color: var(--scroll-track);
    border-radius: 10rem;
  }

  ::-webkit-scrollbar-thumb {
    width: 8rem;
    min-height: 30rem;
    border-radius: 15rem;
    background-color: #666;
  }
}

option {
  color: black;
}
