:root {
}

body {
  scroll-behavior: smooth;

  ::-webkit-scrollbar {
    width: 8rem;
    height: 8rem;
  }

  ::-webkit-scrollbar-track {
    background-color: var(--scroll-track);
    border-radius: 10rem;
  }

  ::-webkit-scrollbar-thumb {
    width: 8rem;
    min-height: 30rem;
    border-radius: 15rem;
    background-color: #666;
  }
}

option {
  color: black;
}
