.book-title-container {
  display: flex;
  align-items: center;
  .title {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-primary);
  }
  .subTitle {
    font-size: 14px;
    color: var(--text-subtitle);
  }
}

.book-image-container {
  --bookImgSize: 48px;
  --heartSize: 16px;
  --heartPos: 2px;

  position: relative;
  .book-img {
    object-fit: cover;
    width: var(--bookImgSize);
  }

  .heart-img {
    cursor: pointer;
    position: absolute;
    width: var(--heartSize);
    height: var(--heartSize);
    top: var(--heartPos);
    right: var(--heartPos);

    &.disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}

.book-card-item-container {
  display: flex;
  padding: 16px;
  border-bottom: 1px solid var(--gray);

  .img-container {
    padding: 0 32px;
    .book-img {
      transition: all 0.3s;
    }
  }

  .content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .content-header {
    display: flex;
    padding: 10px 0;

    > *:nth-of-type(n + 2) {
      margin-left: 10px;
    }

    .item-count-container {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 32px;
    }

    .count-container {
      font-size: 18px;
      font-weight: 700;
      min-width: 100px;
      justify-content: flex-end;
    }

    button {
      width: 115px;
    }

    .detail-button {
      img {
        margin-left: 5px;
        transition: all 0.5s ease-out;
      }
    }
  }

  .content-body {
    padding: 0;
    flex: 1;
    max-height: 0;
    transition: all 0.3s;
    overflow: hidden;

    &-left {
      width: 360px;
      height: 100%;

      p {
        margin-top: 10px;
        font-size: 10px;
        line-height: 16px;
      }
    }
    &-right {
      height: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
    }

    &-wrapper {
      height: 100%;
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
    }

    .buy-button {
      width: 240px;
      margin-top: 20px;
    }
    .price-container {
      *:nth-of-type(n + 2) {
        margin-top: 10px;
      }
    }
  }

  // 상세히 보기
  &.detail-open {
    .content-body {
      max-height: 50vh;
    }

    .img-container {
      padding: 0 32px;
      .book-img {
        --bookImgSize: 210px;
      }
      .heart-img {
        --heartSize: 24px;
        --heartPos: 10px;
      }
    }

    .content-header .count-container,
    .content-header .buy-button {
      display: none;
    }

    .detail-button img {
      transform: rotate(-180deg);
    }
  }
}
